body {
    display: flex;
    background: white;
    color: black;
}

body.dark {
    background: black;
    color: white;
}

.content {
    flex: 1;
    padding: 20px;
}

.sidebar {
    position: fixed;
    width: 250px;
    top: 0;
    left: -300px;
    height: 100vh; 
    padding: 80px 20px 20px 20px;
    background: #ddd;
    transition: 0.3s;
}
.sidebar.toggled {
    left: 0;
}

#toggle {
    position:fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
    transition: 0.3s;
}

.sidebar.toggled ~ #toggle {
    left:270px;
}

.content {
    margin-top: 70px;
    padding: 20px;
}

.top_header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #f4f4f4; 
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    padding-left: 20px;
    z-index: 100;
}